.accordion {
  width: 80%;  
  margin: 3% auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	font-size: 1.6rem;
}

.image {
	object-fit: cover;
  display: block;
  max-width: 50vh;
  height: 0;
  margin: 0 auto;
  padding-bottom: 0;
  opacity: 0;
  scale: 0;
  transition: opacity, scale, max-height, 0.3s;
}
input {
	display: none;
}

.icon {
	display: inline-block;
	height: 3vh;
  width: 3vh;
  opacity: 0;
	margin: 0;
	padding: 0;
  transition: opacity, rotate, 0.4s;
}

.accordion_label {
	cursor: pointer;
	display: block;
	background-color: bisque;
}
.accordion_label:not(:first-child) {
	border-top: 0.2rem solid grey;
}

.accordion:hover .icon {
  opacity: 1;
}
.accordion_label:has(input:checked) .image {
  height: auto;
  padding-bottom: 1.5rem;
  opacity: 1;
  scale: 1;
}
.accordion_label:has(input:checked) .icon {
  rotate: 45deg;
}
.accordion_label:has(input:checked) h2 {
  color: rgb(90, 199, 199);
}
.accordion_label:has(input:hover) .image {
  height: auto;
  padding-bottom: 1.5rem;
  opacity: 1;
  scale: 1;
}
.accordion_label:has(input:hover) h2{
  color:darkcyan;
}
