.accordion {
	display: flex;
	flex-direction: column;
  width: 80%;  
  margin: 3% auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	font-size: 1.6rem;
}

.image {
	object-fit: cover;
  display: block;
	order: 1;
  max-width: 50vh;
  height: 0;
  margin: 0 auto;	
  margin-top: 2rem;
  opacity: 0;
  scale: 0;
  transition: opacity, scale, max-height, 0.3s;
}
input {
	display: none;
}
h2 {
	display: inline-block;
	margin-left: 0.8rem;
	order: 0;
}
.icon {
	display: block;
	order: 2;
	height: 3vh;
  width: 3vh;
  opacity: 0;
	margin: 0;
  padding: 0;
  transition: opacity, rotate, 0.4s;
}

.accordion_label {
	overflow: hidden;
	display: flex;
  flex-wrap: wrap;
	cursor: pointer;
	
	background-color: bisque;
}
.accordion_label:not(:first-child) {
	border-top: 0.2rem solid grey;
}

.accordion:hover .icon {
  opacity: 1;
}
.accordion_label:has(input:checked) .image {
  height: auto;
  padding-bottom: 1.5rem;
  opacity: 1;
  scale: 1;
}
.accordion_label:has(input:checked) .icon {
  rotate: 45deg;
}
.accordion_label:has(input:checked) h2 {
  color: rgb(90, 199, 199);
}
.accordion_label:has(input:hover) .image {
  height: auto;
  padding-bottom: 1.5rem;
  opacity: 1;
  scale: 1;
}
.accordion_label:has(input:hover) h2{
  color:darkcyan;
}

/* Mobile styles */
@media only screen and (max-width: 819.99px) { 
  body {
    font-size: 0.1rem; 
    cursor: none; 
  }
	.image {
		max-width: 70vw;
		order:2;
	
	}
	.accordion h2 {	
		font-size: 02rem !important;
	}
	.icon {
		visibility: hidden;
}
}

/* Tablet styles */
@media only screen and (min-width: 820px) and (max-width: 1179.99px) { 
  body {
    font-size: 1.2rem; 
    cursor: pointer; 
  }
}

/* Desktop styles */
@media only screen and (min-width: 1180px) {  
  body {
    font-size: 1.6rem; 
    cursor: default; 
  }
}

 